.layout>.header .toggle-btn{
	width: 50px;
	height: 50px;
	background: #fff;
	cursor: pointer;
	border-right: 1px solid #e7e7e7;
	text-align: center;
	float: left;
}
.layout>.header .toggle-btn .icon{
	width: 32px;
	height: 32px;
    margin-top: 9px;
}
.layout>.header .toggle-btn:hover{
	background: #65CEA7;
}
.layout>.header .toggle-btn:hover path{
	fill:#fff;
}