.scroll-wrapper{
   
    height: 100%;
    overflow: hidden;
}
.scroll .scroll-bar{
	width: 3px;
    z-index: 200;
    background: rgb(66, 79, 99);
    cursor: default;
    position: absolute;
    top: 0px;
    right: 0;
    height: 100%;
    display: block;
    opacity: 0;
    overflow: hidden;
}
.scroll:hover .scroll-bar{
	opacity: 1;
}

.scroll .scroll-bar .bar{
    background-color: rgb(101, 206, 167);
    width: 3px;
    height: 0;
    position: absolute;
    top: 0;
    transition: top 0.5s; 
}