.scrollbar{
    overflow: hidden;
    position: relative;
    & .scrollbar-wrapper{
        overflow: scroll;
        margin-right: -17px;
        margin-bottom: -17px;
    }
    & .scrollbar-bar{
        position: absolute;
        right: 2px;
        bottom: 2px;
        z-index: 1;
        border-radius: 4px;
        opacity: 0;
        transition: opacity 120ms ease-out;
        &.is-vertical{
            width: 6px;
            top: 2px;
            & .scrollbar-thumb{
                width: 100%;
            }
        }
        &.is-horizontal{
            height: 6px;
            left: 2px;
            & .scrollbar-thumb{
                height: 100%;
            }
        }
        & .scrollbar-thumb{
            position: relative;
            display: block;
            width: 0;
            height: 0;
            cursor: pointer;
            border-radius: inherit;
            background-color: rgba(151,168,190,.3);
            transition: .3s background-color;
            &:hover{
               background-color: rgba(151,168,190,.5);
            }
        }
    }
    &:hover .scrollbar-bar{
        opacity: 1;
    }
}