.time-picker{
	position: relative;
	box-sizing: border-box;
	& .time-select{
		color: #48576a;
	    border: 1px solid #d1dbe5;
	    box-shadow: 0 2px 6px #ccc;
	    background: #fff;
	    border-radius: 2px;
	    line-height: 20px;
	    margin: 5px 0;
	    position: absolute;
	    width:100%;
	    z-index: 100;
	    & .scrollbar-wrapper{
	    	max-height: 200px;
	    }
		& .time-select-item{
		    padding: 8px 10px;
	    	font-size: 14px;
	    	user-select:none;
	    	cursor: pointer;
	    	&:not(.selected):not(.is-disabled):hover{
	    		background-color: #e4e8f1;
	    	}
	    	&.selected{
			    background-color: #20a0ff;
				color: #fff;
	    	}
	    	&.is-disabled{
		        color: #d1dbe5;
    			cursor: not-allowed;
	    	}
		}

	}
}
