.datetime-picker{
	position: relative;
}
.datetime-picker .picker{
	position: absolute;
	top: 36px;
	z-index: 100;
	display: none;
}
.datetime-picker .picker:before{
	content:'';
	display: inline-block;
	width: 0px;
	height: 0px;
	border-bottom:6px solid #65CEA7;
	border-right:6px solid transparent;
	border-left:6px solid transparent;
	position: absolute;
	top: -6px;
	left: 7px;
}
.datetime-picker .picker table{
	padding: 5px;
	background: #65CEA7 ;
	border-radius: 4px;
	color:#fff;
	width: 200px;
}

.datetime-picker .picker table thead tr th,.datetime-picker .picker table tbody tr td{
	text-align: center;
    padding: 5px;
    border-radius: 4px;
    height: 30px;
}

.datetime-picker .picker table thead tr:first-child th,.datetime-picker .picker table tbody tr td{
	cursor:pointer;
}

.datetime-picker .picker table thead tr:first-child th:hover,.datetime-picker .picker table tbody tr td:hover{
	background: #42866d;
}

.datetime-picker .picker table thead tr:first-child th.prev,.datetime-picker .picker table thead tr:first-child th.next{
	font-size:20px;
	line-height: 1;
	width: 27px;
}

.datetime-picker .picker .day{
	text-align: center;
	color:#264e3f;
}

.datetime-picker .picker .day.current-month{
	color:#fff;
}

.datetime-picker .picker .day.active{
	background: #42866d
}

.datetime-picker .picker .icon{
	width: 24px;
	height: 24px;
	vertical-align: middle;
	fill:#fff;
}