
.form-inline label{
    display: none;
}

.form-group{
    margin-bottom: 15px;
}

.form-group:last-child{
    margin-bottom: 0;
}

.form-group.inline>div{
    position: relative;
    margin-left: 100px;
}

.form-group.inline label{
    float: left;
    width: 100px;
    padding: 10px 12px 10px 0;
    margin-bottom: 0;
    line-height: 1;
}

.form-inline .form-group{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    margin-right: 4px;
}

.form-control {
    display: inline-block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: all .15s;
    box-sizing: border-box;
    outline: none;
}

.form-control[readonly]{
    cursor: not-allowed;
    background-color: #eee;
}

.form-control:focus{
    border: 1px solid #424F63;
    box-shadow: none;
}

.form-inline .form-control{
    width:100%;
}

.input-group {
    display: table;
    width: 100%;
}

.input-group-btn{
    width: 34px;
    display: table-cell;
    vertical-align: middle;
}

.input-group-btn .btn{
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    padding: 5px;
    box-sizing: border-box;
    fill:#333;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    
    vertical-align: middle;
    box-sizing: border-box;
}

.input-group-btn .btn:hover{
    background-color: #e6e6e6;
    border-color: #adadad;
}

.input-group .form-control{
    display: table-cell;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    vertical-align: middle;
    width: 100%;
    box-sizing: border-box;
}