.radio{
    color: #1f2d3d;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    & .radio-input {
        white-space: nowrap;
        cursor: pointer;
        outline: none;
        display: inline-block;
        line-height: 1;
        position: relative;
        vertical-align: middle;
        & .radio-input-inner{
            border: 1px solid #bfcbd9;
            border-radius: 100%;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: #fff;
            position: relative;
            cursor: pointer;
            display: inline-block;
            box-sizing: border-box;
            
        }
        & .radio-input-inner:after{
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #fff;
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%) scale(0);
            transition: transform .15s cubic-bezier(.71,-.46,.88,.6);
        }
        &.is-checked .radio-input-inner{
            border-color: #20a0ff;
            background: #20a0ff;
        }
        &.is-checked .radio-input-inner:after{
            
            transform: translate(-50%,-50%) scale(1);
        }
        &.is-disabled .radio-input-inner{
            background-color: #eef1f6;
            border-color: #d1dbe5;
            cursor: not-allowed;
        }
        &.is-disabled+.radio-label{
            color: #bbb;
            cursor: not-allowed;
        }
        & [type='radio']{
            opacity: 0;
            position: absolute;
            right: 0;
            bottom: 0;
            top: 0;
            left: 0;
            margin:0;
            z-index: -1;
        }
    }
    & .radio-label {
        vertical-align: middle;
        font-size: 14px;
        padding-left: 5px;
        line-height: 1;
    }
    &+.radio{
        margin-left: 10px;
    }
}