.switch{
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.switch input[type='checkbox']{
    display: none;
}

.switch label{
    width: 50px;
    height: 27px;
    cursor: pointer;
    border: 1px solid #dfdfdf;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset;
    transition: border 0.4s, box-shadow 0.4s, background-color 1.2s;
    box-sizing: border-box;
}

.switch input[type='checkbox']:checked+label{
    background-color: rgb(100, 189, 99);
    border-color: rgb(100, 189, 99);
    box-shadow: rgb(100, 189, 99) 0px 0px 0px 16px inset;
}

.switch label:after{
    content:'';
    display: inline-block;
    background: #fff;
    border-radius: 100%;
    border: 1px solid #dfdfdf;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    height: 27px;
    position: absolute;
    top: 0;
    left: 0;
    width: 27px;
    transition: left 0.5s;
}

.switch input[type='checkbox']:checked+label:after{
    left: 25px;
}