.row{
    position: relative;
    box-sizing: border-box;
    &:after{
    	display: table;
    	content:'';
    	clear: both;
    }
}

@for $i from 1 through 24{
	.row .col-#{$i}{
		width: $i/24 * 100%;
		float: left;
	}
}