.todo{
    border:1px solid #424f63;
    border-radius: 4px;
}

.todo .title{
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
}

.todo .list{
    border-top: 1px dotted rgba(0, 0, 0, 0.8);
    padding: 0 20px 20px 20px;
}

.todo .list .tag{
    padding: 20px 0px;
    position: relative;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.8);
}

.todo .list .tag.done .content{
    text-decoration: line-through;
}

.todo .list .tag .icon{
    width: 16px;
    height: 16px;
}

.todo .list .tag .tick{
    border-radius: 2px;
    border: #ccc 1px solid;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    padding: 1px;
    cursor: pointer;
    margin-right: 10px;
}

.todo .list .tag .tick .icon{
    opacity: 0;
}

.todo .list .tag.done .tick .icon{
    opacity: 1
}

.todo .list .tag .close{
    position: absolute;
    right: 0px;
    display: inline-block;
    vertical-align: middle;
    top: 21px;
    cursor: pointer;

}

.todo .list .tag .close .icon{
    width: 20px;
    height: 20px;
    fill: rgba(0,0,0,0.5);
}

.todo .list .tag .close:hover .icon{
    fill:rgb(0,0,0)
}

.todo .form{
    padding: 0 20px 20px 20px;
}

.todo .form-group{
    width: 80%;
}

.todo .form-inline .add-btn{
    padding: 6px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #424F63;
    color:#fff;
    width: 70px;
    height: 34px;
}