
.upload{
    width: 360px;
    & .upload-trigger{
        & .upload-input{
            display: none;
        }
    }
    & .upload-tip{
        font-size: 12px;
        color: #8391a5;
        margin-top: 7px;
    }
    & .upload-list{
        & .upload-list-item{
            cursor: pointer;
            font-size: 14px;
            color: #48576a;
            line-height: 1.8;
            margin-top: 5px;
            box-sizing: border-box;
            border-radius: 4px;
            width: 100%;
            position: relative;
            & .file-icon{
                color: #97a8be;
                margin-right: 7px;
                height: 100%;
                line-height: inherit;
            }
            & .close-icon{
                display:none;
                position: absolute;
                right: 5px;
                top: 0;
                line-height: inherit;
            }
            & .status-icon{
                position: absolute;
                right: 5px;
                top: 0;
                line-height: inherit;
                &.is-success{
                    color: #13ce66;
                }
                &.is-error{
                    color:#ff4949;
                }
            }
            & span{
                transition: all .5s cubic-bezier(.55,0,.1,1);
            }
            &:hover{
                background-color: #eef1f6;
                & span{
                    color:#20a0ff;
                }
                & .close-icon{
                    display:inline-block;
                }
                & .status-icon{
                    display: none;
                }
            }
        }
    }
}