
.upload{
    width: 400px;
    & .upload-trigger{
        & .upload-input{
            display: none;
        }
    }
    & .upload-tip{
        font-size: 12px;
        color: #8391a5;
        margin-top: 7px;
    }
    & .upload-list{
        & .upload-list-item{
            cursor: pointer;
            font-size: 14px;
            color: #48576a;
            line-height: 1.8;
            margin-top: 5px;
            box-sizing: border-box;
            border-radius: 4px;
            width: 100%;
            position: relative;
            & .file-icon{
                color: #97a8be;
                margin-right: 7px;
                height: 100%;
                line-height: inherit;
            }
            & .close-icon{
                display:none;
                position: absolute;
                right: 5px;
                top: 0;
                line-height: inherit;
            }
            & .status-icon{
                position: absolute;
                right: 5px;
                top: 0;
                line-height: inherit;
                &.is-success{
                    color: #13ce66;
                }
                &.is-error{
                    color:#ff4949;
                }
            }
            & .upload-list-item-name{
                transition: all .5s cubic-bezier(.55,0,.1,1);
            }
            &:hover{
                background-color: #eef1f6;
                & .upload-list-item-name{
                    color:#20a0ff;
                }
                & .close-icon{
                    display:inline-block;
                }
                & .upload-list-item-status-label{
                    display: none;
                }
            }
        }
        &.upload-text{
            
        }
        &.upload-picture{
            & .upload-list-item{
                overflow: hidden;
                background-color: #fff;
                border: 1px solid #c0ccda;
                border-radius: 6px;
                margin-top: 10px;
                padding: 10px 10px 10px 90px;
                height: 92px;
                & .upload-list-item-thumbnail,& .file-icon{
                    vertical-align: middle;
                    display: inline-block;
                    width: 70px;
                    height: 70px;
                    float: left;
                    position: relative;
                    z-index: 1;
                    margin-left: -80px;
                }
                & .file-icon{
                    font-size: 60px;
                    margin-top: -16px;
                }
                & .upload-list-item-name{
                    line-height: 70px;
                }
                & .upload-list-item-status-label{
                    position: absolute;
                    right: -17px;
                    top: -7px;
                    width: 46px;
                    height: 26px;
                    background: #13ce66;
                    text-align: center;
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                    box-shadow: 0 1px 1px #ccc;
                    & .status-icon{
                        transform: rotate(-45deg) scale(.8);
                        color:#fff;
                        right: 14px;
                        top: 4px;
                    }
                }
                & .progress{
                    position: relative;
                    bottom: 25px;
                }
            }
        }
        &.upload-picture-card{
            & .upload-list-item{
                overflow: hidden;
                background-color: #fff;
                border: 1px solid #c0ccda;
                border-radius: 6px;
                width: 148px;
                height: 148px;
                margin: 0 8px 8px 0;
                display: inline-block;
                & .upload-list-item-thumbnail{
                    width: 100%;
                    height: 100%;
                }
                & .upload-list-item-status-label{
                    position: absolute;
                    right: -17px;
                    top: -7px;
                    width: 46px;
                    height: 26px;
                    background: #13ce66;
                    text-align: center;
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                    box-shadow: 0 1px 1px #ccc;
                    & .status-icon{
                        transform: rotate(-45deg) scale(.8);
                        color:#fff;
                        right: 14px;
                        top: 4px;
                    }
                }
            }
        }
    }
}