.chart{
	background: #fff;
	border-radius: 4px;
	overflow: hidden;
}

.chart .title{
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
    padding: 15px;
    color: #535351;
    font-size: 14px;
    font-weight: bold;
}

.chart{
    padding:15px;
}