.tree{
    padding: 15px;
    position: relative;
}

.tree:before {
    width: 1px;
    z-index: 1;
    display: block;
    content: "";
    position: absolute;
    top: 15px;
    bottom: 30px;
    left: 15px;
    border-left: 1px dotted #666;
}

.tree .treeFolder{
    position: relative;
    padding-left: 14px;
    cursor: pointer;
}

.tree .treeFolder:before{
    display: inline-block;
    content: "";
    position: absolute;
    top: 14px;
    left: 1px;
    width: 18px;
    height: 0;
    border-top: 1px dotted #666;
    z-index: 1;
}

.tree .treeFolder .treeFolderName{
    padding: 4px 5px 6px 5px;
    color: #7a7676;
    line-height: 20px;
    font-size: 14px;
}

.tree .treeFolder .treeFolderName span{
    vertical-align: middle;
}

.tree .treeFolder .treeFolderName .icon{
    width: 16px;
    height: 16px;
    margin-right: 2px;
    vertical-align: middle;
    fill:#7a7676;
}

.tree .treeFolder .treeFolderHeader:hover{
    background-color: #F1F2F7;
    border-radius: 4px;
}

.tree .treeFolder.minus>.treeFolderItems{
    height: auto;
    opacity: 1;
    overflow: auto;
}

.tree .treeFolder .treeFolderItems{
    position: relative;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition:all 0.5s;
}

.tree .treeFolder .treeFolderItems:before{
    display: inline-block;
    content: "";
    position: absolute;
    width: 1px;
    z-index: 1;
    top: -9px;
    bottom: 16px;
    left: 12px;
    border-left: 1px dotted #666;
}

.tree .treeFolder .treeFolderItems .treeFolderItem{
    margin-left: 28px;
    color: #7a7676;
    line-height: 20px;
    font-size: 14px;
    position: relative;
}

.tree .treeFolder .treeFolderItems .treeFolderItem:hover{
    background-color: #F1F2F7;
    border-radius: 4px;
}

.tree .treeFolder .treeFolderItems .treeFolderItem:before{
    display: inline-block;
    content: "";
    position: absolute;
    top: 14px;
    left: -14px;
    width: 18px;
    height: 0;
    border-top: 1px dotted #666;
    z-index: 1;
}

.tree .treeFolder .treeFolderAction{
    display: none;
    position: absolute;
    right: 5px;
    top: 7px;
}

.tree .treeFolder .treeFolderAction .icon{
    width: 16px;
    height: 16px;
    fill: #999;
    margin-right:5px;
}

.tree .treeFolder .treeFolderAction .icon:hover{
    fill:#333;
}

.tree .treeFolder .treeFolderHeader:hover .treeFolderAction{
    display: block;
}