.tree{
    background: #fff;
    border: 1px solid #d1dbe5;
    & .node{
        & .node-content{
            line-height: 36px;
            height: 36px;
            cursor: pointer;
            & .icon-expand{
                display: inline-block;
                margin-right:8px;
                cursor: pointer;
                width: 0;
                height: 0;
                vertical-align: middle;
                margin-left: 10px;
                border: 6px solid transparent;
                border-right-width: 0;
                border-left-color: #97a8be;
                border-left-width: 7px;
                transform: rotate(0);
                transition: transform .3s ease-in-out;
            }
            & .icon-expand.no-children{
                border-color: transparent;
                cursor: default;
            }
            &:hover{
                background: #e4e8f1;
            }
        }
        & .node-children{
            display:none;
            overflow: hidden;
            transition: height .3s ease-in-out;
        }
        &.is-expand{
            &>.node-content{
                & .icon-expand{
                    transform: rotate(90deg);
                }
            }
        }
    }
}
.node-children{
    padding-left: 16px;
}
