.radio{
    color: #1f2d3d;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    & .radio-input {
        border: 1px solid #bfcbd9;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        cursor: pointer;
        box-sizing: border-box;
        position: relative;
        display: inline-block;
        &:after{
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #fff;
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%) scale(0);
            transition: transform .15s cubic-bezier(.71,-.46,.88,.6);
        }
        &.hover{
            border-color: #20a0ff;
        }
        &.is-checked{
            border-color: #20a0ff;
            background: #20a0ff;
        }
        &.is-checked:after{
            
            transform: translate(-50%,-50%) scale(1);
        }
        &.is-disabled{
            background-color: #eef1f6;
            border-color: #d1dbe5;
            cursor: not-allowed;
        }
        &.is-disabled+.radio-label{
            color: #bbb;
            cursor: not-allowed;
        }
        & [type='radio']{
            opacity: 0;
            position: absolute;
            right: 0;
            bottom: 0;
            top: 0;
            left: 0;
            margin:0;
            z-index: -1;
        }
    }
    & .radio-label {
        font-size: 14px;
        padding-left: 5px;
    }
    &+.radio{
        margin-left: 10px;
    }
}
.radio-button{
    position: relative;
    display: inline-block;
    & .radio-button-original{
        display: none;
    }
    & .radio-button-inner{
        position: relative;
        display: inline-block;
        white-space: nowrap;
        background: #fff;
        border: 1px solid #bfcbd9;
        border-left: 0;
        color: #1f2d3d;
        -webkit-appearance: none;
        text-align: center;
        box-sizing: border-box;
        outline: 0;
        margin: 0;
        cursor: pointer;
        transition: all .3s cubic-bezier(.645,.045,.355,1);
        padding: 10px 15px;
        font-size: 14px;
        border-radius: 0;
    }
    &.is-checked .radio-button-inner{
        color: #fff;
        background-color: #20a0ff;
        border-color: #20a0ff;
    }
     &.is-disabled .radio-button-inner{
        color: #bfcbd9;
        cursor: not-allowed;
        background-image: none;
        background-color: #eef1f6;
        border-color: #d1dbe5;
        box-shadow: none;
    }
}

.radio-group{
    & .radio-button:last-child .radio-button-inner{
        border-radius: 0 4px 4px 0;
    }
    & .radio-button:first-child .radio-button-inner{
        border-left: 1px solid #bfcbd9;
        border-radius: 4px 0 0 4px;
    }
}