.chat .msg-list{
    border-radius: 4px;
    border: 1px solid #ccc;
    height: 400px;
    padding: 10px;
    overflow: auto;
}

.chat .msg-list .msg{
    list-style: none;
    padding: 8px 0 5px;
    margin: 7px auto;
    font-size: 12px;
}

.chat .msg-list .msg .avatar{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}

.chat .msg-list .msg.out .avatar{
    float: right;
    margin-right: 0px;
    margin-left: 10px;
}

.chat .msg-list .msg .content{
    margin-left: 65px;
    padding: 10px;
    text-align: left;
    background: #65CEA7;
    color: #fff;
    border-radius: 5px;
    position: relative;
}

.chat .msg-list .msg.out .content{
    text-align: right;
    margin-right: 65px;
    margin-left: 0;
    background: #EFF0F4;
    color:#7a7676;
}

.chat .msg-list .msg .content:before{
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-right: 8px solid #65cea7;
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    position: absolute;
    left: -8px;
    top: 20px;
}

.chat .msg-list .msg.out .content:before{
    border-left: 8px solid #EFF0F4;
    border-right:none;
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    position: absolute;
    left: auto;
    right: -8px;
    top: 20px;
}

.chat .msg-list .msg .name{
    font-size: 13px;
    font-weight: bold;
    margin-right: 5px;
}

.chat-form{
     margin-top: 15px;
    padding: 10px;
    background-color: #EFF0F4;
    clear: both;
}
.chat-form .form-inline .form-group{
    width: 80%;
}

.chat-form .form-inline .text{
    resize:none;
    height: 48px;
}

.chat-form .form-inline .send-btn{
    padding: 6px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #424F63;
    color:#fff;
    width: 70px;
    line-height: 34px;
}