@import "./var.scss";
body{
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1",Arial,sans-serif;
    font-weight: 400;
}
.frame{
	position: fixed;
    width: 100%;
    height: 100%;
    background: #e5e9f2;
}

.frame>.header{
	background-color: #324157;
    position: fixed;
    height: 60px;       
    min-width: 800px;
    width: 100%;
    z-index: 30;
}

 .frame>.header .menu{
    display:inline-block;
    position: absolute;
    right:10px;
}

.frame>.header .logo{
    font-size: 40px;
    left: 10px;
    color:#fff;
    font-weight: bold;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    height: 40px;
    line-height: 1;
    user-select:none;
} 

.frame>.nav{
    position: fixed;
    top: 0px;
    padding-top:60px;
    left: 0px;
    height: 100%;
    width: 200px;
    background-color: #fff;
    z-index: 20;
}

.frame>.nav .scrollbar-wrapper{
    overflow-x: hidden;
}

.frame>.body{
    padding-left: 200px;
    min-width: 800px;
    height: 100%;
    z-index: 10;
    margin-top: 60px;
}

.frame>.body .breadcrumb{
    background: #fff;
    border-radius: 4px;
    padding:10px;
    margin: 20px auto;
}

.frame>.body .block{
    background: #fff;
    border-radius: 4px;
    padding:20px;
    min-height: 800px;
}

.frame>.body .Loader{
    height:100%;
}