.checkbox{
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    user-select: none;
    & .checkbox-input{
        white-space: nowrap;
        cursor: pointer;
        outline: none;
        display: inline-block;
        line-height: 1;
        position: relative;
        vertical-align: middle;
        border: 1px solid #bfcbd9;
        border-radius: 4px;
        width: 18px;
        height: 18px;
        background-color: #fff;
        position: relative;
        cursor: pointer;
        display: inline-block;
        box-sizing: border-box;
        & .icon{
            color:#fff;
            transform: scale(0);
            transition: transform .15s cubic-bezier(.71,-.46,.88,.6) .05s;
            font-size: 14px;
            left: 1px;
            position: absolute;
            top: 1px;
        }

        &.is-checked,&.is-indeterminate {
            border-color: #20a0ff;
            background: #20a0ff;
        }
        
        &.is-indeterminate .fa-minus{
            left: 2.5px;
        }

        &.is-checked .icon,&.is-indeterminate .icon{
            transform: scaleY(1);
        }

        &.is-disabled{
            background-color: #eef1f6;
            border-color: #d1dbe5;
            cursor: not-allowed;
        }
        &.is-disabled+.checkbox-label{
            color: #bbb;
            cursor: not-allowed;
        }
        & [type='checkbox']{
            opacity: 0;
            position: absolute;
            right: 0;
            bottom: 0;
            top: 0;
            left: 0;
            margin:0;
            z-index: -1;
        }
    }
    & .checkbox-label {
        vertical-align: middle;
        font-size: 14px;
        padding-left: 5px;
        line-height: 1;
    }
    &+.checkbox{
        margin-left: 10px;
    }
}

.checkbox-button{
    display:inline-block;
    cursor: pointer;
    border: 1px solid #bfcbd9;
    color: #1f2d3d;
    margin: 0;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 4px;
    background: #fff;
    & [type='checkbox']{
        opacity: 0;
        position: absolute;
        left:-999px;
    }
    & .checkbox-button-label{
        line-height: 1;
        white-space: nowrap;
        user-select:none;
    }
    &.is-checked{
        color: #fff;
        background-color: #20a0ff;
        border-color: #20a0ff;
    }
    &.is-disabled{
        color: #bfcbd9;
        cursor: not-allowed;
        background-image: none;
        background-color: #eef1f6;
        border-color: #d1dbe5;
    }
}

.checkbox-group{
    & .checkbox-button{
        border-left-color: rgba(255, 255, 255, 0.5);
        border-radius: 0;
    }
    & .checkbox-button:first-child{
        border-left: 1px solid #bfcbd9;
        border-radius: 4px 0 0 4px;
    }
    & .checkbox-button:last-child{
        border-radius: 0 4px 4px 0;
    }
    
}