.home-page table{
	width: 100%;
}

.home-page table th{
	font-weight: normal;
	padding: 6px 20px 6px 5px;
	text-align: right;
}

.home-page td.left{
	text-align: left;
}

.home-page table td{
	text-align: right;
	border-right: 1px solid #f0f0f0;
	padding: 6px 20px 6px 5px;
}