.popover{
	position: relative;
    display: inline-block;
	& .popover-poper{
		background: #fff;
	    border-radius: 2px;
	    border: 1px solid #d1dbe5;
	    padding: 10px;
	    font-size: 12px;
	    box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
	    position: absolute;
	    min-width: 150px;
        z-index: 100;
	    & .arrow{
			display: block;
			position: absolute;
			width:0;
			height: 0;
			border-color: transparent;
    		border-style: solid;
    		border-width: 6px;
    		&:after{
    			content: '';
    			position: absolute;
			    display: block;
			    width: 0;
			    height: 0;
			    border-color: transparent;
			    border-style: solid;
			    border-width: 6px;
    		}
		}
		&.top,&.top-left,&.top-right{
			& .arrow{
				border-bottom-width: 0;
				border-top-color: #d1dbe5;
				bottom: -6px;
				&:after{
					border-bottom-width: 0;
					border-top-color: #fff;
				    bottom: 2px;
				}
			}
		}
		&.bottom,&.bottom-left,&.bottom-right{
			& .arrow{
				border-top-width: 0;
				border-bottom-color: #d1dbe5;
				top: -6px;
				&:after{
					border-top-width: 0;
					border-bottom-color: #fff;
				    top: 2px;
				}
			}
		}
		&.left,&.left-top,&.left-bottom{
			& .arrow{
				border-right-width: 0;
				border-left-color: #d1dbe5;
				right: -6px;
				&:after{
					border-right-width: 0;
					border-left-color:  #fff;
				    right: 2px;
				}
			}
		}
		&.right,&.right-top,&.right-bottom{
			& .arrow{
				border-left-width: 0;
				border-right-color:#d1dbe5;
				left: -6px;
				&:after{
					border-left-width: 0;
				    border-right-color: #fff;
					left: 2px;
				}
			}
		}

		&.top-right,&.bottom-right{
			& .arrow{
				right:10px;
				&:after{
				    right:10px;
				}
			}
		}
		&.left-top,&.right-top{
			& .arrow{
				top:10px;
				&:after{
				    top: -6px;
				}
			}
		}
		&.left-bottom,&.right-bottom{
			& .arrow{
				bottom:10px;
				&:after{
				  bottom:10px;
				}
			}
		}

		&.top,&.bottom{
			& .arrow{
				left:50%;
				transform: translateX(-50%);
				&:after{
				    left:50%;
					transform: translateX(-50%);
				}
			}
		}
		&.left,&.right{
			& .arrow{
				top:50%;
				transform: translateY(-50%);
				&:after{
				    top:50%;
				transform: translateY(-50%);
				}
			}
		}
	}
}


		