/*menu*/
.menu{
    border-radius: 2px;
    position: relative;
    margin: 0;
    &:before{
        content: "";
        display: table;
    }
    &:after{
        content: "";
        display: table;
        clear: both;
    }
    /*submenu*/
    &.menu-horizontal .menu-submenu{
        float: left;
        position: relative;
    }

    &.menu-horizontal .menu-submenu .menu{
        position: absolute;
        top: 65px;
        left: 0;
        border: 1px solid #d1dbe5;
        padding: 5px 0;
        background-color: #fff;
        z-index: 100;
        min-width: 100%;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
    }
    /*menu-title*/
    & .menu-title{
        position: relative;
    }
    /*icon*/
    & .menu-item>.icon,& .menu-title>div .icon{
        font-size:20px;
        margin-right: 5px;
        width: 20px;
    }
    & .menu-title>.icon{
        position: absolute;
        right: 20px;
        transition: transform .3s;
        font-size: 20px;
        top: 50%;
        margin-top: -5px;
    }
    &.menu-horizontal .menu-title>.icon{
        position: static;
        margin-top:-3px;
        margin-left: 5px;
        transition: transform .3s;
    }

    & .menu-submenu.is-opened .menu-title>.icon{
        transform: rotateZ(180deg);
    }

    /*menu-item*/
    & .menu-item,& .menu-title{
        height: 60px;
        line-height: 60px;
        font-size: 14px;
        color: #48576a;
        padding: 0 20px;
        cursor: pointer;
        position: relative;
        transition: border-color .3s,background-color .3s,color .3s;
        white-space: nowrap;
        border-bottom: 5px solid transparent;
        user-select:none;
    }

    &.menu-horizontal .menu-item {
        float: left;
        height: 60px;
        line-height: 60px;
        margin: 0;
        cursor: pointer;
        position: relative;
        border-bottom: 5px solid transparent;
        transition: border-color .3s,background-color .3s,color .3s;
    }

    & .menu-item:hover {
        background-color: #d1dbe5;
    }

    &.menu-horizontal>.menu-item.is-active,&.menu-horizontal>.menu-item:hover,&.menu-horizontal .menu-title:hover,&.menu-horizontal .menu-submenu.is-active .menu-title{
        background: none;
        border-bottom: 5px solid #20a0ff;
    }

    & .menu-submenu .menu-item{
        float: none;
        padding: 0 45px;
        height: 50px;
        line-height: 50px;
    }

    &.menu-horizontal .menu-submenu .menu-item{
        height: 36px;
        line-height: 36px;
        padding: 0 10px;
        color: #48576a;
    }

    &.menu-theme-dark .menu-item,&.menu-theme-dark .menu-title{
        color: #bfcbd9;
    }

    & .menu-item.is-active,&.menu-horizontal .menu-submenu.is-active .menu-title,&.menu-horizontal .menu-submenu .menu-item.is-active{
        color: #20a0ff;
    }

    /*menu-item-group-title*/
    & .menu-item-group-title{
        padding-left: 30px;
        padding-top: 15px;
        line-height: normal;
        font-size: 14px;
        padding-left: 20px;
        color: #97a8be;
    }
}








