.rate{
    & .icon{
        font-size: 20px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        transition: .3s;
        position: relative;
        margin-right: 6px;
        &:hover{
            transform: scale(1.15);
        }
        &.decimal{
            width: 50%;
            position: absolute;
            left: 0;
        }
    }
    & .fa-star-o{
        color:rgb(198, 209, 222);
    }
    & .fa-star-half-o{
        color: rgb(247, 186, 42);
    }
    & .fa-star{
        color: rgb(247, 186, 42);
    }
    &.is-disabled{
        & .fa{
            cursor: auto
        }
    }
}