$min-height : 400px;
.editor-wrapper .editor-tools{
	margin-bottom:10px;
}

.editor-wrapper .editor-tools .btn-group {
	border-radius: 4px;
	border:1px solid #000;
	display: inline-block;
	margin-right: 10px;
}

.editor-wrapper .editor-tools .btn-group .button{
	border:none;
	outline: none;
	cursor: pointer;
	padding: 5px;
	background: #fff;
}

.editor-wrapper .editor-tools .btn-group .button{
	border-right:1px solid #000;
}

.editor-wrapper .editor-tools .btn-group .button:first-child{
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.editor-wrapper .editor-tools .btn-group .button:last-child{
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-right:none;
}

.editor-wrapper .editor-tools .btn-group .button.active,.editor-wrapper .editor-tools .btn-group .button:hover{
	background: #ccc;
}

.editor-wrapper .editor{
	border:1px solid #ccc;
	border-radius: 4px;
	padding: 6px 12px;
	min-height: $min-height;
	position: relative;
}

.editor-wrapper .editor .public-DraftEditorPlaceholder-root{
	position: absolute;
}

.editor-wrapper .editor.hide-placeholder .public-DraftEditorPlaceholder-root{
	display: none;
}