$typeMap:(
    success:(background-color: #13ce66),
    warning:(background-color: #f7ba2a),
    info:(background-color: #50bfff),
    error:(background-color: #ff4949)
);
.alert{
	padding: 8px 16px;
    margin-bottom: 20px;
    border-radius: 4px;
    position: relative;
    opacity: 1;
    font-size:13px;
    line-height: 16px;
    color:#fff;
    display:table;
    transition: opacity .5s linear;
    width: 100%;
    @each $type,$style in $typeMap{
        &.alert-#{$type}{
            @each $key,$value in $style{
                #{$key}:$value;
            }
            
        }
    }
    & .alert-icon{
        display:table-cell;
        width: 20px;
        font-size: 20px;
    }
    & .alert-content{
        padding-right:15px;
        display:table-cell;
        & .alert-title{
            vertical-align: middle;
            &.is-bold{
                font-weight: bold;
            }
        }
    }
    
    & .close{
        cursor: pointer;
        vertical-align: middle;
        position: absolute;
        margin: auto;
        right: 15px;
        top:9px;
        &.icon{
            top: 12px;
            right: 16px;
        }
    }
}


