.pagination{
    & .pagination-total{
        margin: 0 10px;
        font-size: 13px;
        min-width: 28px;
        height: 28px;
        line-height: 28px;
        box-sizing: border-box;
    }
    & .select{
        width: 110px;
        display:inline-block;
        font-size: 13px;
        height: 28px;
        line-height: 28px;
        margin-right: 20px;
        & input{
            height: 28px;
            line-height: 28px;
        }
        & .icon{
            line-height: 28px;
        }
    }
    & button{
        display: inline-block;
        font-size: 13px;
        min-width: 28px;
        height: 28px;
        line-height: 28px;
        box-sizing: border-box;
        background: center center no-repeat #fff;
        background-size: 16px;
        border: 1px solid #d1dbe5;
        cursor: pointer;
        margin: 0;
        color: #97a8be;
        &:focus{
            outline:none;
        }
        &:hover{
            color: #20a0ff;
        }
    }
    & .pager{
        user-select: none;
        list-style: none;
        font-size: 0;
        padding: 0;
        display: inline-block;
        & li{
            display: inline-block;
            border: 1px solid #d1dbe5;
            cursor: pointer;
            box-sizing: border-box;
            padding: 0 4px;
            border-right: 0;
            background: #fff;
            font-size: 13px;
            min-width: 28px;
            height: 28px;
            line-height: 28px;
            text-align: center;
            &.active{
                border-color: #20a0ff;
                background-color: #20a0ff;
                color: #fff;
                cursor: default;
            }
            &:not(.active):hover{
                color: #20a0ff;
            }
        }
    }
}