*{
	padding: 0;
	margin:0;
}

a{
    text-decoration: none;
    color:inherit;
}
#app{
    display: none;
}

.login-page{
    background:#c2ceea
}

.login-page .el-form{
    width: 330px;
    margin: 15% auto;
    background: #fff;
    border-radius: 5px;
    padding:20px;
}

.login-page .el-form h3{
    margin-bottom: 10px;
}

.login-page .el-form img.verficode{
    cursor: pointer;
}

.login-page .el-form .el-input.verficode{
    width: 206px;
    vertical-align: middle;
}

.login-page .el-form img.verficode{
    vertical-align: middle;
}

.login-page .el-form  .error{
    line-height: 1;
    margin-top: 5px;
    color: red;
}

.login-page .el-form .el-button{
    width:100%;
}

.login-page .el-form .el-form-item:nth-child(6){
    margin-bottom: 0;
}

.login-page .el-form .el-form-item.remember{
    margin-bottom: 0;
    margin-top: -20px;
    text-align: right;
}

.login-page .el-form .el-form-item.remember .el-checkbox__label{
    vertical-align: middle;
}

.header{
    height: 60px;
    background-color: #324157;
}

.header>.user{
    float: right;
    line-height: 60px;
    margin-right: 10px;
    color:#bfcbd9;
}
.header>.user .name{
    margin-right: 10px;
}

.nav{
    background: #eef1f6;
    width: 200px;
    height: 100%;
    position: fixed;
}

.nav .menu{
    list-style: none;
    margin-top: 20px;
}

.nav .menu .item{
    margin-left: 20px;
    margin-bottom: 10px;
}

.content-container{
    margin-left: 200px;
    padding:20px;
}

.content-container .el-breadcrumb{
    margin-bottom: 20px;
}

.content-container .el-breadcrumb+hr{
    margin-bottom: 20px;
    border-top: 1px dashed #0066CC;
}

.content-container .paginator{
    margin-top:20px;
    text-align: right;
}

.content-container .tools{
    float: right;
    margin-bottom: 10px; 
}

.content-container .tools .search{
    width: 400px;
    display: inline-block;
}

.content-container .tools .search .el-select .el-input{
    width: 100px;
}

.content .el-form{
    width: 500px;
}