.slider{
    &:after, &:before {
        display: table;
        content: "";
    }
    & .runway{
        width: 100%;
        height: 4px;
        margin: 16px 0;
        background-color: #e4e8f1;
        border-radius: 3px;
        position: relative;
        cursor: pointer;
        vertical-align: middle;
        & .bar{
            height: inherit;
            width: inherit;
            background-color: #20a0ff;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            position: absolute;
        }
        & .slider-button-wrapper{
            width: 36px;
            height: 36px;
            position: absolute;
            z-index: 1001;
            top: -16px;
            transform: translateX(-50%);
            background-color: transparent;
            text-align: center;
            user-select: none;
            & .tooltip{
                display: inline-block;
                vertical-align: middle;
                & .slider-button{
                    width: 12px;
                    height: 12px;
                    background-color: #20a0ff;
                    border-radius: 50%;
                    transition: .2s;
                    user-select: none;
                    position: absolute;
                    top: 12px;
                    left: -6px;
                    right: 0;
                    
                    bottom: 0;
                    margin: auto;
                }
            }
        }
        &.is-disabled{
            cursor: default;
            & .bar {
                background-color: #bfcbd9;
            }
            & .slider-button-wrapper{
                & .tooltip{
                    & .slider-button{
                        background-color: #bfcbd9;
                        cursor: not-allowed;
                    }
                }
            }
        }
    }
    &.is-vertical{
        & .runway{
            width: 4px;
            height: 200px;
            & .slider-button-wrapper{
                top:auto;
                left: -16px;
                transform: translateY(50%);
            }
        }
    }
}