.slider{
    padding: 15px;
}

.slider .irs{
    height: 40px;
}

.slider .line{
    background: #f1f2f7;
    height: 5px;
    border-radius: 10px;
    position: relative;
    top: 25px;
}

.slider .line .min{
    color: #999;
    font-size: 10px;
    line-height: 1.333;
    text-shadow: none;
    top: 0;
    padding: 1px 3px;
    background: #e1e4e9;
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: -20px;
}

.slider .line .max{
    color: #999;
    font-size: 10px;
    line-height: 1.333;
    text-shadow: none;
    top: 0;
    padding: 1px 3px;
    background: #e1e4e9;
    border-radius: 4px;
    position: absolute;
    right:0;
    top: -20px;
}

.slider .grid{
    position: relative;
}

.slider .grid span{
    background: #e1e4e9;
    height: 4px;
    width: 1px;
    display: inline-block;
    position: absolute;
    top: 0;
}

.slider .grid span.big{
    height: 8px;
}