.breadcrumb {
    font-size: 13px;
    line-height: 1;
    & .breadcrumb-item {
        transition: color .15s linear;
        color: #48576a;
    }
    & .breadcrumb-item:hover {
        color: #20a0ff;
        cursor: pointer;
    }
    & .breadcrumb-item:last-child a,& .breadcrumb-item:last-child{
        color: #97a8be;
        cursor: text;
    }

    & .breadcrumb-separator {
        margin: 0 8px;
        color: #bfcbd9;
    }
}