.mediaGallery{
    
}

.mediaGallery .mediaGallery-header{
    overflow: hidden;
}

.mediaGallery .media-filter{
    float: left;
    margin: 10px 0;
    padding-left: 0;
}

.mediaGallery .media-filter li {
    float: left;
    margin-right: 2px;
    list-style: none;
}

.mediaGallery .media-filter li a {
    background: #65CEA7;
    border-color: #65CEA7;
    color: #fff;
    padding: 5px 10px;
    border-radius: 2px;
    text-decoration: none;
    font-size: 12px;
}

.mediaGallery .media-filter li a:hover {
    background: #4c9b7e;
    border-color: #4c9b7e;
    color: #fff;
}

.btn-group{
    float: right;
    margin: 5px 0;
}

.btn-group .btn{
    background-color: #424F63;
    border-color: #374152;
    color: #FFFFFF;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid #374152;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.btn-group .btn .icon{
    width: 16px;
    height: 16px;
    vertical-align: middle;
    fill:#fff;
}

.btn-group .btn span{
    vertical-align: middle;
}

.btn-group .btn:first-child{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.btn-group .btn:last-child{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.gallery{
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.gallery .item{
    width: 233px;
    position: absolute;
    top: 0;
    left: 0;
    background: #EFF0F4;
    color: #7A7676;
    text-align: center;
    transition: all 0.3s;
    cursor:pointer;
}

.gallery .item .pic{
    height: 200px;
}

.gallery .item p{
    margin: 10px 0;
    line-height: 20px;
    font-size: 14px;
}

.gallery .item:hover{
    background: #65CEA7;
    color: #fff;
}

.gallery .item:hover .pic{
    opacity: .3;
}